.center-flex-vh {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.center-flex-hv {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: row;
}