// FONTS
$font-title: 'Playfair Display';
$font-text: 'Literata';
$regular: 400;
$italic-regular: 500;
$text-bold: 700;
$bold: 900;

// COLORS
$darkgreen: #264653;
$green: #2A9D8F;
$yellow: #E9C46A;
$orange: #F4A261;
$red: #E76F51;
$lightgray: #d6d1cd;
$gray: #8b8982;
$white: #f8f7f7;
$black: #1f1f1f;